body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #FF9482, #7D77FF);
}

div {
    top: 100px;
    border: 1px solid black;
    width: 80%;
    padding: 30px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(26, 224, 224);
}
button {
    margin: 10px 0px;
}
li {
    margin: 10px;
}


